.board-content {
    display: flex;
    justify-content: center;
    margin: 65px;
}

.board-grid-4x4 {
    display: grid;
    gap:5px;
    grid-template-columns: repeat(4, 1fr);
}

.board-grid-6x6 {
    display: grid; 
    gap:5px;
    grid-template-columns: repeat(6, 1fr);
}

.board-grid-8x8 {
    display: grid;
    gap:5px;
    grid-template-columns: repeat(8, 1fr);
}

.game-finished-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 42, 86, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #DCEBF9;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #304D6D; 
    color: white;
}
