.board-content {
    display: flex;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); 
    width: 80%; 
    max-width: 400px; 
}

.game-finished-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 42, 86, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #DCEBF9;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #304D6D; 
    color: white;
}
