.board-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr)); 
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
    justify-content: center;
}

.board-item {
    perspective: 1000px;
    cursor: pointer;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.board-item.flipped .card {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card-front {
    background: #304D6D;
    color: #fff;
}

.card-back {
    background: #EEF5FC;
    transform: rotateY(180deg);
}

.game-finished-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 42, 86, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #DCEBF9;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #304D6D; 
    color: white;
}

