.score-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #304D6D;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 18px;
    z-index: 1000;
}

.score-item {
    margin: 0 15px;
}
